.page{
    /*http://stanhub.com/how-to-make-div-element-100-height-of-browser-window-using-css-only/*/
    min-height: 100vh;
    padding: 30px;
}

    .page h2 {
        margin-top: 0;
    }

.page.white {
    background-color: white;
}

.page.black {
    background-color: black;
}

.page.grey {
    background-color: #7f8c8d;
}

.page.blue {
    background-color: #3498db;
}

.page.yellow {
    background-color: #f1c40f;
}

.page.green {
    background-color: #16a085;
}

.page.red {
    background-color: #e74c3c;
}

.page.transparent {
    background-color: transparent;
    /*opacity: 0.4;
    filter: alpha(opacity=40);*/

}

.page-break{
    min-height: 200px;
}

#home{
    /*background: url(Images/concert.jpg);*/
	/*background-size: cover;
    background-position: 0 50px;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
    padding: 0;
    /*max-height: 300px;*/
}

#home #news {
    position: absolute;
    top: 40px;
    left: 45px;
    width: 500px;
    background-color: transparent;
    color: white;
    padding-left: 0;

}

#home #news .glyphicon-volume-up {
    color: black;
    position: relative;
    top: 3px;
}

#contact{
    height: 170px;
    min-height: 170px;
}

    #contact td {
        padding-right: 5px;
    }