body {
    padding-top: 70px;
    /*padding-bottom: 20px;*/
    background-color: black;
}

.container {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    max-height: 100%;
    /*border: 1px solid red;*/
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar{
    padding-left: 30px;
}

.navbar-brand {
    padding: 25px 20px;
}

.navbar > .container .navbar-brand {
    padding: 25px 20px;
}

/*https://flatuicolors.com/*/
.navbar-inverse .navbar-nav > .active > .red, .navbar-inverse .navbar-nav > .active > .red:hover, .navbar-inverse .navbar-nav > .active > .red:focus {
    color: #e74c3c;
}

.navbar-inverse .navbar-nav > .active > .blue, .navbar-inverse .navbar-nav > .active > .blue:hover, .navbar-inverse .navbar-nav > .active > .blue:focus {
    color: #3498db;
}

.navbar-inverse .navbar-nav > .active > .green, .navbar-inverse .navbar-nav > .active > .green:hover, .navbar-inverse .navbar-nav > .active > .green:focus {
    color: #16a085;
}

.navbar-inverse .navbar-nav > .active > .yellow, .navbar-inverse .navbar-nav > .active > .yellow:hover, .navbar-inverse .navbar-nav > .active > .yellow:focus {
    color: #f1c40f;
}

.navbar-inverse .navbar-nav > .active > .black, .navbar-inverse .navbar-nav > .active > .black:hover, .navbar-inverse .navbar-nav > .active > .black:focus {
    color: #000000;
}

.navbar-inverse .navbar-nav > .active > .grey, .navbar-inverse .navbar-nav > .active > .grey:hover, .navbar-inverse .navbar-nav > .active > .grey:focus {
    color: #7f8c8d;
}

.navbar-inverse .navbar-nav > .active > .white, .navbar-inverse .navbar-nav > .active > .white:hover, .navbar-inverse .navbar-nav > .active > .white:focus {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: #222222;
}

.navbar-inverse .navbar-brand.white:hover {
    color: white;
}

.navbar-inverse .navbar-brand.black:hover {
    color: black;
}

.navbar-inverse .navbar-brand.grey:hover {
    color: #7f8c8d;
}

.navbar-inverse .navbar-brand.blue:hover {
    color: #3498db;
}

.navbar-inverse .navbar-brand.yellow:hover {
    color: #f1c40f;
}

.navbar-inverse .navbar-brand.green:hover {
    color: #16a085;
}

.navbar-inverse .navbar-brand.red:hover {
    color: #e74c3c;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

    .navbar-inverse .navbar-brand:hover {
        color: black;
    }

footer {
    background-color: grey;
}

.navbar-inverse {
    /*opacity: 0.4;
    filter: alpha(opacity=40);*/
}

.carousel-indicators {
    top: 60%;
}

.carousel .item {
}

#Charlii-i {
    background-color: #3498db;
    height: 1000px;
}

#news {
    position: absolute;
    top: 30px;
    left: 45px;
    width: 500px;
    background-color: transparent;
    color: white;
    padding-left: 0;
}

#news .glyphicon-volume-up {
    color: black;
    position: relative;
    top: 3px;
}

.jumbotron {
    padding: 20px;
}

#language {
    display: block;
    float: right;
    margin: 15px;
}

.page{
    /*http://stanhub.com/how-to-make-div-element-100-height-of-browser-window-using-css-only/*/
    min-height: 100vh;
    padding: 30px;
}

.page.white {
    background-color: white;
}

.page.black {
    background-color: black;
}

.page.grey {
    background-color: #7f8c8d;
}

.page.blue {
    background-color: #3498db;
}

.page.yellow {
    background-color: #f1c40f;
}

.page.green {
    background-color: #16a085;
}

.page.red {
    background-color: #e74c3c;
}
