body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
    background-color: black;
}

.container {
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    max-height: 100%;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    background-color: grey;
}

.navbar-inverse {
    /*opacity: 0.4;
    filter: alpha(opacity=40);*/
}

.carousel-indicators {
    top: 60%;
}

.carousel .item {
    
}

.carousel .item img {
  /*min-height: 100%;
  min-width: 1024px;
	
  width: 100%;
  height: auto;
	
  position: fixed;
  top: 0;
  left: 0;*/
}

#photo-stream {
    
}

#news {
    position: absolute;
    top: 90px;
    right: 30px;
    width: 300px;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    background-color: #555555;
    color: white;
    
}